<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title th:text="#{label.getting.started}">Getting Started: Serving Web Content ORIGINAL</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<th:block th:insert="fragments/header.html :: css" />

<body style="background-image: url('/img/Greys.jpg'); background-size: cover;" >

<th:block th:insert="fragments/navBar.html :: navBar" />


<br />
<br />

<div class="container" style="background-color: white">
	<div class="row" align=center style="background-color: yellow; font-size:20px; font-weight:bold">
		<div class="border col-lg-2">
			<a class="p-2" th:href="@{'/cards'+'?fieldName=cardName'}" >Card name</a>
		</div>
		<div class="border col-lg-1" >Balance</div>
		<div class="border col-lg-1" >Valid</div>
		<div class="border col-lg-2" >Lock status</div>
		<div class="border col-lg-6" >Select option</div>
	</div>

	<div class="row" th:each="userCards : ${cards}" align=center style="font-size:16px; font-weight:bold">
		<div class="border col-lg-2" th:text="${userCards.cardName}"></div>
		<div class="border col-lg-1" th:text="${userCards.balance}"></div>
		<div class="border col-lg-1" th:text="${userCards.valid}"></div>
		<div class="border col-lg-2" th:text="${userCards.lock}"></div>
		<div class="border col-lg-6">
			<div class="btn-group">
				<a class="btn btn-link" th:href="@{/card/{id}(id=${userCards.id})}" sec:authorize="hasRole('ROLE_USER')">Choose</a>
				<a th:href="@{/card/lock/{id}(id=${userCards.id})}" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-warning"  >Lock card </a>
				<a th:href="@{/card/unlock/{id}(id=${userCards.id})}" sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-info"  >Unlock card </a>
				<a>    </a>
				<a  class="btn btn-danger" th:href="@{/card/delete/{id}(id=${userCards.id})}" sec:authorize="hasRole('ROLE_ADMIN')" >Delete card </a>
				<a>   </a>
				<a  class="btn btn-secondary" th:href="@{/card/edit/{id}(id=${userCards.id})}" sec:authorize="hasRole('ROLE_ADMIN')" >Edit card </a>
		</div>
	</div>

</div>

<br />
	<div align=center>
	<a  class="btn btn-danger" th:href="@{/cards/addCard}" sec:authorize="hasRole('ROLE_USER')" >     Add new card    </a>
	<br />
	</div>
</div>
</body>
</html>